body{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 800px;
    height: 1020px;
}

.pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: white;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 40px;
}

p{
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 5px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 60px;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 15px;
}

h2{
    color: rgb(151, 151, 151);
    margin-top: 0px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

hr{
    border: solid black 2px;
    width: 85%;
    margin-top: 2px;
    margin-bottom: 7px;
}

ul{
    margin-top: 7px;
    margin-bottom: 0px;
}

li{
    margin-bottom: 0px;
    margin-top: 3.5px;
}